<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Thông Tin</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="2.css">
</head>
<body> 
     <h1>Setting</h1>
	 <fieldset> <legend style ="color: red; font-size : 30px ;align: Center">Cài Đặt</legend> 
		<fieldset> 
            <legend><a href='/wifi_conf'>Cài đặt Wifi</a></legend> 
            <li>Wifi : Wifi parameter ( SSID ,PASS, DHCP ..)
		</fieldset> 
		<fieldset> 
            <legend><a href='/mqtt_conf'>Cài Đặt MQTT</a></legend> 
            <li>Server MQTT 
		</fieldset> 
     </fieldset> 
	 
     <fieldset> <legend style ="color: red; font-size : 30px ; align: Center">Other Function</legend> 
		<fieldset> 
			<legend><a href='/firmware'>Update Chương Trình</a></legend> 
			<li>Update firmware
			<li>Status : %VERSION% 
		</fieldset> 
		<fieldset> 
			<legend><a href='/Reboot'>Reboot</a></legend> 
		</fieldset> 
		<fieldset> 
			<legend><a href='/Reset1'>Reset</a></legend>  
		</fieldset> 
    </fieldset> 
    <fieldset> 
		<legend style ="color: red; font-size : 30px ;align: Center">Thông tin</legend> 
		<li>HMI Weintek rs485 
		<li>Wifi
    </fieldset> 
</body>
</html>