<html>

<head>
    <meta charset="UTF-8">

    <title>Main</title>
    <link rel="stylesheet" href='/static/style.css' />
    <link rel="icon" type="image/png" href="/static/favicon.ico">
</head>

<body>

    <h1>Giao diện điều khiển </h1>

    <fieldset>
        <legend><a href='/'>Setting </a>
        </legend>
        <fieldset>
            <legend><a href='/setMqtt'>MQTT SETTING</a></legend>
            <li> Cài đặt MQTT Client</li>
        </fieldset>
        <fieldset>
            <legend><a href='/setip'>IP LAN Setting</a></legend>
            <li> Cài đặt ip cho thiết bị</li>
        </fieldset>
        <fieldset>
            <legend><a href='/setwifi'>IP Wifi Setting</a></legend>
            <li> Cài đặt Wifi cho thiết bị</li>
        </fieldset>
        <fieldset>
            <legend><a href='/setmaso'>Code Setting</a></legend>
            <li> Cài đặt mã số</li>
        </fieldset>
    </fieldset>
    <fieldset>
        <legend>Infor</legend>

        <li>@ Copyright by Kim Son Tien Co.Ltd - mHome
            <li>www.nhathongminhmhome.com
                <li>Designed by mHome - R&D Department
                    <li>Made in VietNam

    </fieldset>
    Search: <input type="text" id="search_form_input"></input>
    <div id="place_for_suggestions"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
$("#search_form_input").keyup(function(){
    var text = $(this).val();

    $.ajax({
      url: "/suggestions",
      type: "get",
      data: {jsdata: text},
      success: function(response) {
        $("#place_for_suggestions").html(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
});
</script>
</body>

</html>