<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Zone Name</title>
    <link rel="icon" type="image/png" href="/static/favicon.ico">
    <link rel="stylesheet" href='/static/style.css' />
</head>

<body>
    <h1>Cài Đặt tên Cho Các Vùng Daikin</h1>
    <form method="post" action="{{ url_for('set_ZoneName') }}">

        <li>
            <label for="html_nameZone1">zone 1 :</label>
            <input type="text" name="html_nameZone1" class="txt" value={{name_zone1}}>
            <br />

            <li>
                <label for="html_nameZone2">zone 2 :</label>
                <input type="text" name="html_nameZone2" class="txt" value={{name_zone2}}>
                <br />

                <li>
                    <label for="html_nameZone3">zone 3 :</label>
                    <input type="text" name="html_nameZone3" class="txt" value={{name_zone3}}>
                    <br />

                    <li>
                        <label for="html_nameZone4">zone 4 :</label>
                        <input type="text" name="html_nameZone4" class="txt" value={{name_zone4}}>
                        <br />

                        <li>
                            <label for="html_nameZone5">zone 5 :</label>
                            <input type="text" name="html_nameZone5" class="txt" value={{name_zone5}}>
                            <br />

                            <li>
                                <label for="html_nameZone6">zone 6 :</label>
                                <input type="text" name="html_nameZone6" class="txt" value={{name_zone6}}>
                                <br />

                                <li>
                                    <label for="html_nameZone7">zone 7 :</label>
                                    <input type="text" name="html_nameZone7" class="txt" value={{name_zone7}}>
                                    <br />

                                    <li>
                                        <label for="html_nameZone8">zone 8 :</label>
                                        <input type="text" name="html_nameZone8" class="txt" value={{name_zone8}}>
                                        <br />
                                        <li>
                                            <label for="html_nameZone9">zone 9 :</label>
                                            <input type="text" name="html_nameZone9" class="txt" value={{name_zone9}}>
                                            <br />
                                            <li>
                                                <label for="html_nameZone10">zone 10:</label>
                                                <input type="text" name="html_nameZone10" class="txt" value={{name_zone10}}>
                                                <br />
                                                <li>
                                                    <label for="html_nameZone11">zone 11:</label>
                                                    <input type="text" name="html_nameZone11" class="txt" value={{name_zone11}}>
                                                    <br />
                                                    <li>
                                                        <label for="html_nameZone12">zone 12:</label>
                                                        <input type="text" name="html_nameZone12" class="txt" value={{name_zone12}}>
                                                        <br />
                                                        <li>
                                                            <label for="html_nameZone13">zone 13:</label>
                                                            <input type="text" name="html_nameZone13" class="txt" value={{name_zone13}}>
                                                            <br />
                                                            <li>
                                                                <label for="html_nameZone14">zone 14:</label>
                                                                <input type="text" name="html_nameZone14" class="txt" value={{name_zone14}}>
                                                                <br />
                                                                <li>
                                                                    <label for="html_nameZone15">zone 15:</label>
                                                                    <input type="text" name="html_nameZone15" class="txt" value={{name_zone15}}>
                                                                    <br />
                                                                    <li>
                                                                        <label for="html_nameZone16">zone 16:</label>
                                                                        <input type="text" name="html_nameZone16" class="txt" value={{name_zone16}}>
                                                                        <br />

                                                                        <input type="submit" id="submitbtn" name="submitbtn" tabindex="5" value="Send">
    </form>
    <p>Click Để Save thông tin.</p>
</body>

</html>