<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wifi Setting</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="2.css">
</head>

<body>
    <h1>Wifi Setting</h1>
    <form method="post" action="set_wifi_conf">
	    <div class="row"> 
			<label for="button">DHCP :<span class="req"></span></label>
			<select name='button' class="dropbtn" >
				<script type="text/javascript">
					var bien= %CHOOSEDHCP%
					if (bien==0) {document.write("<option value=\"0\" selected>STATIC</option><option value=\"1\" >DHCP</option>") }
					else {document.write("<option value=\"0\">STATIC</option><option value=\"1\" selected >DHCP</option>")}
				</script>	 
			</select> 
		</div> 
		<p></p>
		 <!--
		<div class="row"> 
			<label for="chooseinout">Chế Độ :<span class="req"></span></label>
			<select name='chooseinout' class="dropbtn" >
			<script type="text/javascript">
						var bien= "%CHOOINOUT%"
						var pos = bien.search("IN");
						if (pos == 0 ) {document.write("<option value=\"IN\" selected>IN</option><option value=\"OUT\" >OUT</option>") }
						else {document.write("<option value=\"IN\">IN</option><option value=\"OUT\" selected >OUT</option>")}
			</script>	 
			</select> 
		</div> 
		-->
		<p></p>
        <div class="row">
            <label for="html_ssid">SSID:<span class="req"></span></label>
            <input type="text" name="html_ssid" class="txt" value="%SSID%">
        </div>
        <div class="row">
            <label for="html_wpa_password">Pass:<span class="req"></span></label>
            <input type="password" name="html_wpa_password" class="txt" value="%PASS%">
        </div>
        <div class="row"><label for="html_ip_wifi">ip:<span class="req"></span></label>
            <input type="text" name="html_ip_wifi" class="txt" value="%IP%">
        </div>
        <div class="row"><label for="html_gateway_wifi">Gateway:<span class="req"></span></label>
            <input type="text" name="html_gateway_wifi" class="txt" value="%GATEWAY%">
        </div>
		<div class="row"><label for="html_sub_wifi">SUB :<span class="req"></span></label>
            <input type="text" name="html_sub_wifi" class="txt" value="%SUB%">
        </div>
        <input type="submit" id="submitbtn" name="submitbtn" tabindex="5" value="Send">
    </form>
    <p></p>
</body>

</html>